.home-container {
    /* background-color: aqua; */
    background-image: url("images/mainpage.gif");
    background-position: center;
    background-size: cover;
    width: 100%;
}
#intro-page{
    width:100%;
}