.home-container {
    /* background-color: aqua; */
    background-image: url("images/lady.gif");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 98vh;    
}

.main-page{
    width:100%;
}

body {
    /* margin: 0%; */
    position: relative;
}

.navbar-brand img{
    margin-left: 10px;
}
.navbar {
    position: fixed;
    background-color: black;
    padding: 2px !important;
    height: 60px;
}

.navbar.nav li a {
    color: white;
    font-size: 20px;
    font: bold; 
}

.navbar.nav li a:hover {
    color: deeppink;
}


/* About */

#about-header {
    font-size: 30px;
    font:bold;
    text-align: center;
    margin-left: 400px;
    text-decoration: underline;
}
.rounded-circle {
    height: 400px;
    width: 300px;
}

.col-6.col-sm-8 p {
    font-size: 25px;
    padding-top: 25px;
}
.container {
    padding-top: 70px;
    padding-bottom: 70px;
}

#about {
    padding-top: 70px;
    padding-bottom: 70px;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.icon-image {
    height: 60px;
    width: 60px;
    margin-left: 50px;
    margin-top: 10px;
}

/* Skills */


#skills {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
}

#skills-header {
    font-size: 30px;
    font:bold;
    text-align: center;
    margin-left: 400px;
    text-decoration: underline;
}

.devicons {
    margin-top: 25px;
}

.devicons i {
    font-size: 160px;
    margin: 10px;
    padding: 20px;
}

.typewriter {
    padding-top: 200px;
    margin-left: 300px;
}

.text-js {
    opacity: 0;
    color: whitesmoke;
}

.cursor{
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    right: -5px;
    width: 2px;
    /* Change colour of Cursor Here */
    background-color: white;
    z-index: 1;
    animation: flash 0.5s none infinite alternate;
}

  @keyframes flash{
    0%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
}


/* Projects */

.card {
    margin: 20px;
}

.card-img-top {
    height: 250px;
}
.btn {
margin: 10px 10px 0 40px;
}